<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
	</array>
	<key>description</key>
	<string></string>
	<key>display_name</key>
	<string>Adobe Flash Player PlugIn</string>
	<key>installed_size</key>
	<integer>5260</integer>
	<key>installer_item_hash</key>
	<string>ea616503d0a3cc27e321df61cdb1f2809176f2e0d021312777cbf39fe578c51c</string>
	<key>installer_item_location</key>
	<string>plugins/Adobe Flash Player-10.2.159.1.0.dmg</string>
	<key>installer_item_size</key>
	<integer>5307</integer>
	<key>minimum_os_version</key>
	<string>10.4.0</string>
	<key>name</key>
	<string>Adobe Flash Player</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>filename</key>
			<string>Adobe Flash Player.pkg</string>
			<key>installed_size</key>
			<integer>5260</integer>
			<key>packageid</key>
			<string>com.adobe.pkg.FlashPlayer</string>
			<key>version</key>
			<string>10.2.159.1.0</string>
		</dict>
	</array>
	<key>blocking_applications</key>
	<array>
	        <string>Firefox</string>
	        <string>Safari</string>
	        <string>Opera</string>
	</array>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>10.2.159.1.0</string>
</dict>
</plist>
