<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
	</array>
	<key>description</key>
	<string>Required to connect to the Cengage Learning VPN.</string>
	<key>display_name</key>
	<string>mac_SSLVpn</string>
	<key>installed_size</key>
	<integer>620</integer>
	<key>installer_item_hash</key>
	<string>0305399aefe67f954ce9722d28e4d08311a1dea2ad47c1785cae4e14dcfb0c3f</string>
	<key>installer_item_location</key>
	<string>plugins/mac_SSLVpn-6031.2011.0713.1.dmg</string>
	<key>installer_item_size</key>
	<integer>210</integer>
	<key>minimum_os_version</key>
	<string>10.4.0</string>
	<key>name</key>
	<string>mac_SSLVpn</string>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleShortVersionString</key>
			<string>6031.2011.0713.1</string>
			<key>path</key>
			<string>/Library/Internet Plug-Ins/F5 SSL VPN Plugin.plugin/Contents/Info.plist</string>
			<key>type</key>
			<string>plist</string>
		</dict>
	</array>
	<key>receipts</key>
	<array>
		<dict>
			<key>filename</key>
			<string>mac_SSLVpn.pkg</string>
			<key>installed_size</key>
			<integer>620</integer>
			<key>packageid</key>
			<string>com.f5.NetworkAccess.pkg</string>
			<key>version</key>
			<string>2008.10</string>
		</dict>
	</array>
	<key>unattended_install</key>
	<true/>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>6031.2011.0713.1</string>
</dict>
</plist>
