<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
	</array>
	<key>description</key>
	<string></string>
	<key>display_name</key>
	<string>Microsoft® Silverlight™ Browser Plug-In</string>
	<key>installed_size</key>
	<integer>33512</integer>
	<key>installer_item_hash</key>
	<string>c02b04e0161ee9a6ea39fd187373e1bb20a514a1a9f093afa8ed1a3b6e3d7231</string>
	<key>installer_item_location</key>
	<string>plugins/Silverlight-4.0.60531.0.dmg</string>
	<key>installer_item_size</key>
	<integer>13165</integer>
	<key>minimum_os_version</key>
	<string>10.4.0</string>
	<key>name</key>
	<string>Silverlight</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>filename</key>
			<string>Silverlight.pkg</string>
			<key>installed_size</key>
			<integer>33512</integer>
			<key>packageid</key>
			<string>com.microsoft.installSilverlightPlugin</string>
			<key>version</key>
			<string>4.0.60531.0</string>
		</dict>
	</array>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>4.0.60531.0</string>
</dict>
</plist>
