<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
	</array>
	<key>description</key>
	<string></string>
	<key>display_name</key>
	<string>Adobe Acrobat X Pro Update</string>
	<key>installed_size</key>
	<integer>135848</integer>
	<key>installer_item_hash</key>
	<string>8a39eb56374f61f7f630922b35d9d5528305facce2055bbf946ea1a733f126bc</string>
	<key>installer_item_location</key>
	<string>adobe/AcrobatUpd1010.dmg</string>
	<key>installer_item_size</key>
	<integer>138231</integer>
	<key>minimum_os_version</key>
	<string>10.4.0</string>
	<key>name</key>
	<string>AcrobatPro10Update</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>installed_size</key>
			<integer>135848</integer>
			<key>packageid</key>
			<string>com.adobe.acrobat.a10.AcrobatUpd1010</string>
			<key>version</key>
			<string>10.1.0</string>
		</dict>
	</array>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>10.1.0</string>
</dict>
</plist>
