<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AdobeSetupType</key>
	<string>ProductInstall</string>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
	</array>
	<key>description</key>
	<string></string>
	<key>display_name</key>
	<string>Adobe Premiere Pro CS5</string>
	<key>installed_size</key>
	<integer>545277</integer>
	<key>installer_item_hash</key>
	<string>8de29b6f66570e1f070347bb56045689c58fe9372a6ca4903f343f5a87e58127</string>
	<key>installer_item_location</key>
	<string>adobe/PremiereProTrial-5.0.1-mul-AdobeUpdate.dmg</string>
	<key>installer_item_size</key>
	<integer>90284</integer>
	<key>installer_type</key>
	<string>AdobeCS5PatchInstaller</string>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.adobe.AdobePremierePro</string>
			<key>CFBundleName</key>
			<string>Premiere Pro</string>
			<key>CFBundleShortVersionString</key>
			<string>5.0.1</string>
			<key>path</key>
			<string>/Applications/Adobe Premiere Pro CS5/Adobe Premiere Pro CS5.app</string>
			<key>type</key>
			<string>application</string>
		</dict>
	</array>

<!--	<key>installs</key>
	<array>
		<dict>
			<key>path</key>
			<string>/Library/Application Support/Adobe/Uninstall/{2237503C-D0F7-4B21-AC48-00F2D6E95DED}.db</string>
			<key>type</key>
			<string>file</string>
		</dict>
	</array>
-->
	<key>minimum_os_version</key>
	<string>10.4.0</string>
	<key>name</key>
	<string>AdobePremiereProCS5Update</string>
	<key>payloads</key>
	<array>
		<dict>
			<key>AdobeCode</key>
			<string>{2237503C-D0F7-4B21-AC48-00F2D6E95DED}</string>
			<key>display_name</key>
			<string>Adobe Premiere Pro CS5</string>
			<key>installed_size</key>
			<integer>487045</integer>
			<key>version</key>
			<string>5.0.1.0.0</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{A0B56953-C063-46A5-96E2-A0B9DB06CDA6}</string>
			<key>display_name</key>
			<string>Adobe Premiere Pro CS5 Third Party Content Wrapper</string>
			<key>installed_size</key>
			<integer>11238</integer>
			<key>version</key>
			<string>5.0.1.0.0</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{235B2E58-96B8-475E-B7C2-0FA89135E964}</string>
			<key>display_name</key>
			<string>Adobe Premiere Pro CS5 Third Party Royalty Content</string>
			<key>installed_size</key>
			<integer>13871</integer>
			<key>version</key>
			<string>5.0.1.0.0</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{CF5A7550-1B57-43A5-94EE-7199F6F1BDC0}</string>
			<key>display_name</key>
			<string>Adobe Premiere Pro CS5 Third Party Royalty Content Wrapper</string>
			<key>installed_size</key>
			<integer>33123</integer>
			<key>version</key>
			<string>5.0.1.0.0</string>
		</dict>
	</array>
	<key>uninstallable</key>
	<false/>
	<key>update_for</key>
	<array>
		<string>CreativeSuite5MasterCollection</string>
	</array>
	<key>version</key>
	<string>5.0.1.0.0</string>
</dict>
</plist>
