<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
	</array>
	<key>description</key>
	<string>Configures autoupdate settings for Flash Player 10 for enterprise deployments.</string>
	<key>display_name</key>
	<string>Flash Player Update Configuration</string>
	<key>installed_size</key>
	<integer>4</integer>
	<key>installer_item_hash</key>
	<string>b202328cd9419492a80a2e9af4ba35b9dbfc506e55049999a01a7efd3ec9ffb5</string>
	<key>installer_item_location</key>
	<string>adobe/DisableFlash10AutoUpdate-1.0.pkg.dmg</string>
	<key>installer_item_size</key>
	<integer>16</integer>
	<key>minimum_os_version</key>
	<string>10.4.0</string>
	<key>name</key>
	<string>DisableFlash10AutoUpdate</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>filename</key>
			<string>DisableFlash10AutoUpdate-1.0.pkg</string>
			<key>installed_size</key>
			<integer>4</integer>
			<key>packageid</key>
			<string>com.googlecode.munki.disableflash10autoupdate</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
	</array>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>1.0</string>
	<key>unattended_install</key>
	<true/>
	<key>update_for</key>
	<array>
		<string>Adobe Flash Player-10.3.181.14</string>
	</array>
</dict>
</plist>
