<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AdobeSetupType</key>
	<string>ProductInstall</string>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
	</array>
	<key>description</key>
	<string></string>
	<key>display_name</key>
	<string>Photoshop Camera Raw</string>
	<key>installed_size</key>
	<integer>2392</integer>
	<key>installer_item_hash</key>
	<string>4a8dce3ad7e29c152d6e40e0206b9cde242f28455db6e7cae360dad7623ec718</string>
	<key>installer_item_location</key>
	<string>adobe/Camera_Raw_6_4_updater.dmg</string>
	<key>installer_item_size</key>
	<integer>80619</integer>
	<key>installer_type</key>
	<string>AdobeCS5PatchInstaller</string>
	<key>installs</key>
	<array>
		<dict>
			<key>path</key>
			<string>/Library/Application Support/Adobe/Uninstall/{F6FAFFC8-287A-4548-90BF-8EE5D2D4826F}.db</string>
			<key>type</key>
			<string>file</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>10.4.0</string>
	<key>name</key>
	<string>PhotoshopCameraRaw</string>
	<key>payloads</key>
	<array>
		<dict>
			<key>AdobeCode</key>
			<string>{F6FAFFC8-287A-4548-90BF-8EE5D2D4826F}</string>
			<key>display_name</key>
			<string>Photoshop Camera Raw</string>
			<key>installed_size</key>
			<integer>0</integer>
			<key>version</key>
			<string>6.4.0.0.0</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{24E4F3C7-3AA8-4257-89DF-82AD2E37846C}</string>
			<key>display_name</key>
			<string>Camera Profiles Installer</string>
			<key>installed_size</key>
			<integer>2392</integer>
			<key>version</key>
			<string>6.4.0.0.0</string>
		</dict>
	</array>
	<key>uninstallable</key>
	<false/>
	<key>update_for</key>
	<array>
		<string>CreativeSuite5MasterCollection</string>
		<string>CreativeSuite5WebPremium</string>
		<string>AdobeProductionPremiumCS5</string>
		<string>AdobePhotoshopCS5</string>
		<string>AdobeAfterEffectsCS5</string>
	</array>
	<key>version</key>
	<string>6.4.0.0.0</string>
</dict>
</plist>
