<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
	</array>
	<key>description</key>
	<string></string>
	<key>display_name</key>
	<string>Xerox Universal Print Drivers</string>
	<key>installed_size</key>
	<integer>105920</integer>
	<key>installer_item_hash</key>
	<string>2be77339bcb7ae4619fba356c5641f4ffd28fd06fb2920b153b06febbdfdb1d9</string>
	<key>installer_item_location</key>
	<string>drivers/XPD.2.12.0.dmg</string>
	<key>installer_item_size</key>
	<integer>76847</integer>
	<key>minimum_os_version</key>
	<string>10.4.0</string>
	<key>name</key>
	<string>XeroxUniversalPrintDrivers</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>filename</key>
			<string>pde105.pkg</string>
			<key>installed_size</key>
			<integer>73416</integer>
			<key>packageid</key>
			<string>com.xerox.print.xeroxPrinter.pde105.pkg</string>
			<key>version</key>
			<string>584</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>xeroxuniversaldriver.pkg</string>
			<key>installed_size</key>
			<integer>264</integer>
			<key>packageid</key>
			<string>com.xerox.print.xeroxPrinter.xeroxuniversaldriver.pkg</string>
			<key>version</key>
			<string>584</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>xsucontents.pkg</string>
			<key>installed_size</key>
			<integer>15144</integer>
			<key>packageid</key>
			<string>com.xerox.print.xeroxPrinter.xsucontents.pkg</string>
			<key>version</key>
			<string>584</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>xsubinaries.pkg</string>
			<key>installed_size</key>
			<integer>28196</integer>
			<key>packageid</key>
			<string>com.xerox.print.xeroxPrinter.xsubinaries.pkg</string>
			<key>version</key>
			<string>584</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>printingscout.pkg</string>
			<key>installed_size</key>
			<integer>24848</integer>
			<key>packageid</key>
			<string>com.xerox.print.xeroxPrinter.printingscout.pkg</string>
			<key>version</key>
			<string>584</string>
		</dict>
	</array>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>2.12.0</string>
</dict>
</plist>
