<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>printers</string>
	</array>
	<key>description</key>
	<string></string>
	<key>display_name</key>
	<string>1127XEROX7700PS</string>
	<key>installer_item_hash</key>
	<string>2d2c839c0988a8d2c89331b3f2f42d7c3559576596c7ec14264010d87e33ec92</string>
	<key>installer_item_location</key>
	<string>printers/1127XEROX7700PS-1.0.dmg</string>
	<key>installer_item_size</key>
	<integer>13</integer>
	<key>minimum_os_version</key>
	<string>10.4.0</string>
	<key>name</key>
	<string>1127XEROX7700PS</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>filename</key>
			<string>1127XEROX7700PS-1.0.pkg</string>
			<key>installed_size</key>
			<integer>0</integer>
			<key>packageid</key>
			<string>com.cengage.1127XEROX7700PS</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
	</array>
	<key>requires</key>
	<array>
		<string>XeroxPhaser7700</string>
	</array>
	<key>uninstall_method</key>
	<string>/etc/cups/printers_deployment/uninstalls/1127XEROX7700PS.sh</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>1.0</string>
</dict>
</plist>
