<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>printers</string>
	</array>
	<key>description</key>
	<string></string>
	<key>display_name</key>
	<string>2300HPLJ5000N</string>
	<key>installer_item_hash</key>
	<string>0b181054aafb92b4b6f983182588f0b7e630c98e0809037f018b4be7074d2e69</string>
	<key>installer_item_location</key>
	<string>printers/2300HPLJ5000N-1.0.dmg</string>
	<key>installer_item_size</key>
	<integer>13</integer>
	<key>minimum_os_version</key>
	<string>10.4.0</string>
	<key>name</key>
	<string>2300HPLJ5000N</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>filename</key>
			<string>2300HPLJ5000N-1.0.pkg</string>
			<key>installed_size</key>
			<integer>0</integer>
			<key>packageid</key>
			<string>com.cengage.2300HPLJ5000N</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
	</array>
	<key>uninstall_method</key>
	<string>/etc/cups/printers_deployment/uninstalls/2300HPLJ5000N.sh</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>1.0</string>
</dict>
</plist>
