<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
	</array>
	<key>description</key>
	<string>Mockups offers the same speed and rough feel as sketching with a pencil, but with the advantage of the digital medium: enlarging containers is just a drag operation, rearranging elements doesn’t require starting over, and your wireframes will be clear enough that you’ll be able to make sense of them tomorrow.</string>
	<key>display_name</key>
	<string>Balsamiq Mockups</string>
	<key>installer_item_hash</key>
	<string>17e7335006d22ca0b074d2f8fc55b1d05ae35aecca5e6d3964ce8d2c875f4d97</string>
	<key>installer_item_location</key>
	<string>apps/MockupsForDesktop.dmg</string>
	<key>installer_item_size</key>
	<integer>2952</integer>
	<key>installer_type</key>
	<string>copy_from_dmg</string>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>BalsamiqMockupsForDesktop.installer</string>
			<key>CFBundleShortVersionString</key>
			<string>2.1.7</string>
			<key>minosversion</key>
			<string>10.4.9</string>
			<key>path</key>
			<string>/Users/Shared/Install Balsamiq Mockups.app</string>
			<key>type</key>
			<string>application</string>
		</dict>
	</array>
	<key>items_to_copy</key>
	<array>
		<dict>
			<key>destination_path</key>
			<string>/Users/Shared</string>
			<key>source_item</key>
			<string>Install Balsamiq Mockups.app</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>10.4.0</string>
	<key>name</key>
	<string>BalsamiqMockups</string>
	<key>postinstall_script</key>
	<string>#!/bin/bash
./Users/Shared/Install\ Balsamiq\ Mockups.app/Contents/MacOS/Install\ Balsamiq\ Mockups -silent -location /Applications/ -allowDownload
exit 0
</string>
	<key>uninstall_method</key>
	<string>remove_copied_items</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>2.1.7</string>
</dict>
</plist>
