<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
	</array>
	<key>description</key>
	<string>FileZilla Client is a fast and reliable cross-platform FTP, FTPS and SFTP client with lots of useful features and an intuitive graphical user interface.</string>
	<key>display_name</key>
	<string>FileZilla Free FTP Client</string>
	<key>installer_item_hash</key>
	<string>dd46e92b10a98a1a1efbe7b74caf4b8952da6729a1fb300005e4633ac87888a8</string>
	<key>installer_item_location</key>
	<string>apps/FileZilla.dmg</string>
	<key>installer_item_size</key>
	<integer>7363</integer>
	<key>installer_type</key>
	<string>copy_from_dmg</string>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>de.filezilla</string>
			<key>CFBundleName</key>
			<string>FileZilla</string>
			<key>CFBundleShortVersionString</key>
			<string>3.5.1</string>
			<key>path</key>
			<string>/Applications/FileZilla.app</string>
			<key>type</key>
			<string>application</string>
		</dict>
	</array>
	<key>items_to_copy</key>
	<array>
		<dict>
			<key>destination_path</key>
			<string>/Applications</string>
			<key>source_item</key>
			<string>FileZilla.app</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>10.5.0</string>
	<key>name</key>
	<string>FileZilla</string>
	<key>uninstall_method</key>
	<string>remove_copied_items</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>3.5.1</string>
</dict>
</plist>
