<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
	</array>
	<key>forced_install</key>
	<true/>
	<key>installer_item_hash</key>
	<string>d0133f6497a91789be5faed4146f9d1e64311c0784153db1ac549fe47ebd401d</string>
	<key>installer_item_location</key>
	<string>apps/MunkiScripts-1.0.dmg</string>
	<key>installer_item_size</key>
	<integer>15</integer>
	<key>installer_type</key>
	<string>copy_from_dmg</string>
	<key>installs</key>
	<array>
		<dict>
			<key>md5checksum</key>
			<string>b5601d7d7bac7456be3296a46c040aa0</string>
			<key>path</key>
			<string>/usr/local/munki/preflight</string>
			<key>type</key>
			<string>file</string>
		</dict>
		<dict>
			<key>md5checksum</key>
			<string>30b3dccf9272e35abd67e99eea13fdd5</string>
			<key>path</key>
			<string>/usr/local/munki/postflight</string>
			<key>type</key>
			<string>file</string>
		</dict>
		<dict>
			<key>md5checksum</key>
			<string>92b8a05fae64439e93a80d2bea049d04</string>
			<key>path</key>
			<string>/usr/local/munki/report_broken_client</string>
			<key>type</key>
			<string>file</string>
		</dict>
	</array>
	<key>items_to_copy</key>
	<array>
		<dict>
			<key>destination_path</key>
			<string>/usr/local/munki</string>
			<key>group</key>
			<string>wheel</string>
			<key>mode</key>
			<string>go-w</string>
			<key>source_item</key>
			<string>preflight</string>
			<key>user</key>
			<string>root</string>
		</dict>
		<dict>
			<key>destination_path</key>
			<string>/usr/local/munki</string>
			<key>group</key>
			<string>wheel</string>
			<key>mode</key>
			<string>go-w</string>
			<key>source_item</key>
			<string>postflight</string>
			<key>user</key>
			<string>root</string>
		</dict>
		<dict>
			<key>destination_path</key>
			<string>/usr/local/munki</string>
			<key>group</key>
			<string>wheel</string>
			<key>mode</key>
			<string>go-w</string>
			<key>source_item</key>
			<string>report_broken_client</string>
			<key>user</key>
			<string>root</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>10.4.0</string>
	<key>name</key>
	<string>MunkiScripts</string>
	<key>uninstall_method</key>
	<string>remove_copied_items</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>1.0</string>
</dict>
</plist>
