<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
	</array>
	<key>description</key>
	<string></string>
	<key>display_name</key>
	<string>Munki Server Client</string>
	<key>installed_size</key>
	<integer>4</integer>
	<key>installer_item_hash</key>
	<string>a1dd3bbce45054ac805713d09ec54af5c0550c9420fb8248e5721fa60eabc8f2</string>
	<key>installer_item_location</key>
	<string>apps/Munki_Server_Client-0.1.3.dmg</string>
	<key>installer_item_size</key>
	<integer>28</integer>
	<key>minimum_os_version</key>
	<string>10.4.0</string>
	<key>name</key>
	<string>Munki Server Client</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>filename</key>
			<string>Munki Server Client-0.1.3.pkg</string>
			<key>installed_size</key>
			<integer>4</integer>
			<key>packageid</key>
			<string>ca.sfu.its.munkiServerClient.pkg</string>
			<key>version</key>
			<string>0.1.3</string>
		</dict>
	</array>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>0.1.3</string>
</dict>
</plist>
