<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
	</array>
	<key>description</key>
	<string>VMware Fusion 4 is recommended for home users, students and business professionals who are looking for the easiest, fastest and most reliable way to run Windows programs on their Macs without rebooting.</string>
	<key>display_name</key>
	<string>VMware Fusion 4</string>
	<key>installer_item_hash</key>
	<string>3fa7468252a907904db44edfa55bac6e573295fa2acd8544899881c4efb2e7db</string>
	<key>installer_item_location</key>
	<string>apps/VMware Fusion.dmg</string>
	<key>installer_item_size</key>
	<integer>193767</integer>
	<key>installer_type</key>
	<string>copy_from_dmg</string>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.vmware.fusion</string>
			<key>CFBundleName</key>
			<string>VMware Fusion</string>
			<key>CFBundleShortVersionString</key>
			<string>4.0.1</string>
			<key>minosversion</key>
			<string>10.6.7</string>
			<key>path</key>
			<string>/Applications/VMware Fusion.app</string>
			<key>type</key>
			<string>application</string>
		</dict>
	</array>
	<key>items_to_copy</key>
	<array>
		<dict>
			<key>destination_path</key>
			<string>/Applications</string>
			<key>source_item</key>
			<string>VMware Fusion.app</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>10.5.8</string>
	<key>name</key>
	<string>VMwareFusion4</string>
	<key>postinstall_script</key>
	<string>#!/bin/bash
/bin/bash "/Applications/VMware Fusion.app/Contents/Library/Initialize VMware Fusion.tool" set
	</string>
	<key>uninstall_method</key>
	<string>remove_copied_items</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>4.0.1</string>
</dict>
</plist>
